{% extends "students/base-s.html" %}
{% block content %}
{% load static %}

<section class="courses" style="direction: rtl;">
   <h1 class="heading">المساقات</h1>
   <div class="box-container"> 

      
      
      <div class="box">
         <div class="thumb">
         {% if subjects.thumbnail %}
            <img src="{{ subjects.thumbnail.url }}" alt="">
         {% else %}
            <img style="height: 300px;" src="{% static 'assets/img/head-img-services/book.jpg' %}" alt="Default Image">
         {% endif %}
         
            
         </div>
        
         <h3 class="title">{{ subjects }}</h3>
     
         <a href=" {% url 'playlist' subjects.id %} " class="inline-btn">مشاهدة المحتوى</a> 
      </div>
     
  

   </div>
   
  
</section>
{% endblock content %}