{% extends "students/base-s.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_paid %}


{% if  lists.subject.videos.count != 0 %}
<section class="playlist-details" style="direction: rtl;">

   <h1 class="heading">تفاصيل قائمة التشغيل</h1>


   <div class="row">

      <div class="column">
         <div class="thumb">
         {% if lists.thumbnail %}
            <img src="{{ lists.thumbnail.url }}" alt="">
         {% else %}
         <img src="{% static 'assets/img/head-img-services/lecture.jpg' %}" alt="Default Image">
         {% endif %}
            <span style="font-weight: bolder;">{{ videos.count }} محاضرة</span>
         </div>
      </div>
      <div class="column">
   
         <div class="details">
            <h3>{{lists.name}} - {{lists.subject.name}} (  <span style="color: red;">{{ videos.count }} محاضرة </span>)</h3>
            <p>نرحب بكم في مقاطع شرح  {{lists.name}} - {{lists.subject.name}} <br>  مع العلم أن الاشتراك بالشروحات ينتهي بإنتهاء الاختبارات النهائية <br> مع تمنياتي لكم بالتوفيق والنجاح</p>
         </div>
      </div>
   </div>

</section>


<section class="playlist-videos" style="direction: rtl;">

   <h1 class="heading">المحاضرات</h1>

   <div class="box-container">
      {% for video in videos   %} 
         <a class="box" href="{% url 'watch_video' video.id %}">
            <i class="fas fa-play"></i>
         
            {% if video.thumbnail.url != None %}
            <img src="{{ video.thumbnail.url }}" alt="">
            {% else %}
            <img src="{% static 'assets/img/head-img-services/lecture.jpg' %}" alt="غلاف">
             {% endif %}
            <h3>{{ video.title }}</h3>
         </a>
         {% endfor %}
   </div>
   
</section>




{% else %}

<section class="watch-video" style="direction: rtl;">

   <div class="video-container" style="position: relative;">
   <h1 class="heading">تنويه هام</h1>

   <p class="description">
       ما أحلل اشتراك الأستاذات أو الأساتذة بالشروحات أو تصوير الملفات أو تصويرهم بأي شكل من الأشكال أو ما شابه للتربح منها أو مشاركتها مجاناً. <br> مع تحيات الأستاذة الدمرداش.

     </p>
     <br>
     <br>
{% if pdf_url %}
<h1 class="heading">الملف الخاص بالمادة</h1>
   
  <iframe 
   src="{{pdf_url}}/preview"
   id="pdfViewer"
   width="100%" 
   height="600px"></iframe>

{% else %}
<br>
<br>
<h2>
   لا يوجد ملف
</h2>
{% endif %}
</div>
</section>

   
</section>

{% endif %}

{% endif %}




{% if messages %}
<div id="django-messages" style="display: none;">
    {% for message in messages %}
        <span class="message" data-tags="{{ message.tags }}">{{ message }}</span>
    {% endfor %}
</div>
{% endif %}


<script>
   document.addEventListener('contextmenu', event => event.preventDefault());
   document.addEventListener('keydown', event => {
       if (event.key === 'PrintScreen') {
           event.preventDefault();
           alert('Screen capture is disabled');
       }
   });
   

</script>


{% endblock content %}
